/* Navbar
/* ------------------------- */

.navbar-inverse {
    background-image: -webkit-linear-gradient(top, rgb(44, 62, 80) 0%, rgb(44, 62, 80) 100%) !important;
    background-color: rgb(44, 62, 80) !important;
    border-color: rgb(44, 62, 80) !important;
}

.navbar-brand {
    color: #FAF7F2 !important;
    letter-spacing: 2px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    height: auto !important;
}

.nav-glyphicon {
    margin-right: 10px;
}

.navbar-logout-btn {
    margin-top: -2px;
}