<!DOCTYPE html>
<html>

<% include ./partials/header %>

<body>
    <% include ./partials/loader %>
    <div class="row login">
        Forgot passowrd!
    </div>
</body>

<% include ./partials/footer %>
</html>