<!DOCTYPE html>
<html>

<% include ./partials/header %>

<body>
    <% include ./partials/loader %>
    <div class="row login">
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
        </form>
    </div>
</body>

<% include ./partials/footer %>
</html>