<% if ( messages.info ) { %>
<div class="alert alert-info alert-dismissable fade in" role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    style="padding-left: 10px;"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <%= messages.info %>
</div>
<% } %> <% if ( messages.errors ) { %>
<div class="alert alert-danger alert-dismissable fade in" role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    style="padding-left: 10px;"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <%= messages.errors %>
</div>
<% } %> <% if ( messages.success ) { %>
<div class="alert alert-success alert-dismissable fade in" role="alert">
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    style="padding-left: 10px;"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <%= messages.success %>
</div>
<% } %>
